@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: hsl(222, 26%, 31%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

*, ::after, ::before {
    box-sizing: border-box;
}

:root{
    --deft: "Poppins", sans-serif;
}

.display input{
    padding: 20px;
    width: 480px;
    background-color: #182034;
    color: white;
    font-size: 52px;
    text-align: right;
    border-radius: 15px;
    border: none;
    font-family: var(--deft);
    font-weight: 600;
}

.numpad {
    display: flex;
    flex-direction: column;
    width: 480px;
    background-color: hsl(223, 31%, 20%);
    padding: 20px;
    margin-top: 24px;
    gap: 20px;
    border-radius: 10px;
}

.numpad div{
    display: flex;
    flex: 1;
    column-gap: 20px;
}

input[type="button"]{
    width: 100%;
    height: 70px;
    position: relative;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--deft);
    font-size: 40px;
}

.btn-num,.btn-opr{
    color: hsl(221, 14%, 31%);
    position: relative;
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0px 5px 0px hsl(28, 16%, 65%);
    font-weight: 500;
    
}

.btn-reset,.btn-del{
    color: white;
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 5px 0px hsl(224, 28%, 35%);
    font-weight: 600;
}

.btn-eql{
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 5px 0px hsl(6, 70%, 34%);
    color: white;
    font-weight: 600;
}

input[type="button"]:active{
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
}

input[type="button"]:hover{
    opacity: 905%;
}

